
body {
    margin: 0;
}

.wrapper {
    padding-top: 240px;
    box-sizing: border-box;
    height: 100vh;
    background: url(./squarrel.jpeg);
    background-color: rgba(0,0,0,.2);
    background-size: cover;
    }
.title {
    font-family: 'Alata', sans-serif;
    }

.description, .title {
    font-family: sens-serif, arial;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.button {
    display: block;
    width: 150px;
    font-family: sans-serif, arial;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    border: 2px solid;
    text-align: center;
    margin: auto;
    transition-duration: .4s;
}

.button:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}